*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    box-sizing: border-box;
    background-color: #1B2223;
    height: 100%;
    border-radius: 30px;
    margin-bottom: 20px;
} 

.log img{
    width: 200px;
    height: 200px;
   margin-top: 8%;
   margin-left: 20%;
   border-radius: 100px;
   border: 1px solid;
   transform: translateX(0px);
   animation: float 2s ease-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-60px);
    }

    100%{
        transform: translateY(0px);
    }
}

.about{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    color: #0EF6CC;
    margin-top: 20px;
}

.menu ul li{
    display: inline-block;
    align-items: center;
    margin-left: 8px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid;
    border-color: blueviolet;
    background-color: #580EF6;
}

.menu a {
    text-decoration: none;
    color: white;
}

.im{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    color: #0EF6CC;
}

.me{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    margin-top: 100px;
    color: aquamarine;
}

.aboutme{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme p{
    color: #FEF4F4;
    margin-bottom: 10px;
}

.project{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    margin-top: 500px;
    color: aquamarine;
}
.project p{
    border: 1px solid;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.pro{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 200px;
    color: rgb(135, 27, 168);
}

.contact{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    margin-top: 500px;
    color: aquamarine;
}

.con{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    color: aquamarine;
}

.services{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 50px;
    margin-top: 500px;
    color: aquamarine;
}

.serv{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 50px;
    color: #580EF6;
}

.serv1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    color: #580EF6;
}

.serv2{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
    margin-top: 10px;
    color: #580EF6;
    padding-bottom: 30px;
}

.sec1{
    box-sizing: border-box;
    background-color:#1A1C22;
    height: 100%;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec2{
    box-sizing: border-box;
    background-color:#3D3A50;
    height: 100%;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec3{
    box-sizing: border-box;
    background-color:#26292B;
    height: 100%;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact p{
    border: 1px solid;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.services p{
    border: 1px solid;
    border-radius: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.login p a{
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid;
    border-color: blue;
    background-color: blue;
    color: white;
    text-decoration: none;
    padding-top: 5px, 5px, 5px, 5px;
}
